Source: bashbro
Section: unknown
Priority: optional
Maintainer: Adam Danischewski <adam.danischewski@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/bashbro
#Vcs-Git: https://salsa.debian.org/debian/bashbro.git

Package: bashbro
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends}, tree, socat
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
